body {
    background-image: url('/img/body-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.zoom {
    transition: transform .5s;
}

.zoom:hover {
    transform: scale(1.05)
}

a.inherit, a.inherit:hover {
    color: inherit;
    text-decoration: none
}