body {
    background-color: #FCF5E5;
    background-repeat: no-repeat;
    background-size: cover;
}

.zoom {
    transition: transform .5s;
}

.zoom:hover {
    transform: scale(1.05)
}

a.inherit, a.inherit:hover {
    color: inherit;
    text-decoration: none
}

.project-display-card {
    background-color: #ececec!important;
}